<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size:40px;" class="fas fa-book">

            </i>
            <strong style="font-size: 35px;">BOOKCART</strong>

            <input type="text" class="formcontrol" placeholder="search books or author">


        </div>
        <span class ="fas fa-search search-icon"></span>
  </div>
   

    
    <button routerLink="cart" class="btn btn-primary">
        <i style="font-size:30px;" class="fas fa-
        
        
        .0"></i>
        <div style="font-size: 10px;" class="badge bg-waren">{{totalitem} }</div>
    </button>


</header>